* {
  box-sizing: border-box;
}

body {
  background: black;
}
/*canvas001 starts*/
.canvas001 {
  width: 900px;
  height: 556px;
  margin: 100px auto;
  background: rgb(234, 176, 240);
  position: relative;
  z-index: 0;
}
 .floor {
  width: 900px;
  height: 300px;
  margin: 100px auto;
  background: rgba(70,63,47,255);
  position: absolute;
  top: 250px;
  z-index: 0;
 }
 .peartop {
  width: 250px;
  height: 400px;
  border-radius: 150px / 200px;
  background: rgb(238, 226, 25);
  position: absolute;
  bottom: 12px;
  left: 325px;

 }

.pearcircle {
  width: 300px;
  height: 300px;
  background: rgb(238, 226, 25);
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: 300px;
}

/*spots*/
.spot1 {
  width: 15px;
  height: 15px;
  background: rgb(177, 169, 19);
  border-radius: 50%;
  position: absolute;
  left: 416px;
  top: 400px;
}
.spot2 {
  width: 15px;
  height: 15px;
  background: rgb(177, 169, 19);
  border-radius: 50%;
  position: absolute;
  left: 520px;
  top: 370px;
}
.spot3 {
  width: 15px;
  height: 15px;
  background: rgb(177, 169, 19);
  border-radius: 50%;
  position: absolute;
  left: 370px;
  top: 250px;
}
.spot4 {
  width: 15px;
  height: 15px;
  background: rgb(177, 169, 19);
  border-radius: 50%;
  position: absolute;
  left: 475px;
  top: 170px;
}
.spot5 {
  width: 15px;
  height: 15px;
  background: rgb(177, 169, 19);
  border-radius: 50%;
  position: absolute;
  left: 400px;
  top: 170px;
}
.spot6 {
  width: 15px;
  height: 15px;
  background: rgb(177, 169, 19);
  border-radius: 50%;
  position: absolute;
  left: 475px;
  top: 475px;
}
.spot7 {
  width: 15px;
  height: 15px;
  background: rgb(177, 169, 19);
  border-radius: 50%;
  position: absolute;
  left: 350px;
  top: 475px;
}
.spot8 {
  width: 15px;
  height: 15px;
  background: rgb(177, 169, 19);
  border-radius: 50%;
  position: absolute;
  left: 530px;
  top: 250px;
}
.spot9 {
  width: 15px;
  height: 15px;
  background: rgb(177, 169, 19);
  border-radius: 50%;
  position: absolute;
  left: 330px;
  top: 370px;
}
.spot10 {
  width: 15px;
  height: 15px;
  background: rgb(177, 169, 19);
  border-radius: 50%;
  position: absolute;
  left: 440px;
  top: 295px;
}
.stem {
  width: 150px;
  height: 10px;
  transform: skew(20deg);
  transform: rotate(145deg);
  background:rgb(39, 29, 15);
  position: absolute;
  bottom:435px;
  left:440px
}
.leaf {
  
  width: 300px;
  height: 200px;
  border-radius:110% 0;
  background-color: rgb(112,122,4);
  animation-name: wind;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes wind {
 0% { 
  position: absolute;
  bottom: 213px;
  left: 466px;
  transform: rotate(110deg);
  background-color: rgb(110, 119, 10);

 }
 25% {
  position: absolute;
  bottom: 200px;
  left: 500px;
  transform: rotate(190deg);
  background-color: rgb(92, 100, 7);
 
}
50% {
  position: absolute;
  bottom: 150px;
  left: 550px;
  transform: rotate(265deg);
  background-color: rgb(77, 85, 7);
}
75% {
  position: absolute;
  bottom: 0px;
  left: 500px;
  transform: rotate(375deg);
  background-color: rgb(62, 59, 4);

}
100% {
  position: absolute;
  bottom: -300px;
  left: 466px;
  transform: rotate(470deg);
  background-color: rgb(62, 51, 4);

}
}
/*canvas002 starts*/

.canvas002 {
  width: 900px;
  height: 556px;
  margin: 100px auto;
  background: rgba(70,63,47,255);;
  position: relative;
  z-index: 0;
}
.plate {
  width: 500px;
  height: 500px;
  background: white;
  border-radius: 50%;
  position: relative;
  bottom: -30px;
  left: 225px;
}
.plateinside {
  width: 400px;
  height: 400px;
  background: rgb(218, 218, 218);
  border-radius: 50%;
  position: relative;
  bottom: -50px;
  left: 50px;
}
/*yolk*/
.yolk {
  width: 175px;
  height: 175px;
  background: rgb(238, 203, 2);
  border-radius: 50%;
  position: absolute;
  bottom: 235px;
  left: 150px;
}
.yolk2 {
  width: 130px;
  height: 130px;
  background: rgb(245, 241, 169);
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 23px;
}
.yolk3 {
  width: 130px;
  height: 130px;
  background: rgb(238, 203, 2);
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 40px;
}

/*yolk ends*/
.insideshellleft{
  width: 100px;
  height: 201px;
  background: rgb(189, 189, 189);
  border-radius: 50%;
  position: absolute;
  bottom: 250px;
  left: 100px;
}
.missing {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 200px;
  border-radius: 150px 150px 0 0;
  background-color: rgb(231, 231, 231);
  transform: rotate(270deg);
}
.insideshellright {
  width: 100px;
  height: 201px;
  background: rgb(189, 189, 189);
  border-radius: 50%;
  position: absolute;
  bottom: 233px;
  left: 302px;
  transform: rotate(5deg);
}
.shellright {
  position: absolute;
  bottom: 275px;
  left: 300px;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 200px;
  border-radius: 150px 150px 0 0;
  background-color: rgb(231, 231, 231);
  transform: rotate(100deg);
}
.goop3 {
  width: 200px;
  height: 200px;
  border-radius: 300px / 250px;
  background: rgb(238, 203, 2);
  position: absolute;
  top: 50px;
  left: 110px;
  opacity: 60%;
 }

 .goop2 {
  width: 275px;
  height: 275px;
  border-radius: 300px / 250px;
  background: rgb(238, 203, 2);
  position: absolute;
  top: 50px;
  left: 70px;
  opacity: 40%;
 }
.goop {
  width: 330px;
  height: 330px;
  border-radius: 150px / 150px;
  background: rgb(238, 226, 25);
  position: absolute;
  top: 35px;
  left: 35px;
  opacity: 30%;
 }


 /*hovers*/
 
 .goop3:hover {
  width: 200px;
  height: 200px;
  border-radius: 300px / 250px;
  background: rgb(238, 203, 2);
  position: absolute;
  top: 50px;
  left: 110px;
  opacity: 10%;
 }

 .goop2:hover {
  width: 275px;
  height: 275px;
  border-radius: 300px / 250px;
  background: rgb(238, 203, 2);
  position: absolute;
  top: 50px;
  left: 70px;
  opacity: 10%;
 }
 .goop:hover {
  width: 330px;
  height: 330px;
  border-radius: 150px / 150px;
  background: rgb(238, 226, 25);
  position: absolute;
  top: 35px;
  left: 35px;
  opacity: 10%;
 }
